@font-face {
  font-family: "MonumentExtended-Ultrabold";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/61488/MonumentExtended-Ultrabold.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/61488/MonumentExtended-Ultrabold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 679px;
  max-height: 679px;
  min-width: 679px;
  min-height: 679px;
  background: black;
  cursor: pointer;
  visibility: hidden;
}

.container__base {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: #D5CEC6;
}

.moon {
  position: relative;
  z-index: 2;
  width: 611px;
  height: 611px;
}

.moon__svg {
  width: 611px;
  height: 611px;
}

.moon__txt {
  font-family: "MonumentExtended-Ultrabold", sans-serif;
  font-size: 103px;
  line-height: 1;
  fill: black;
  letter-spacing: 2.1px;
}

.moon__txt-overlay {
  fill: rgba(0, 0, 0, 0.6);
}